body{
    background-color: #AED6F1 !important;

}
#titre{
    color:black;
}

.nomVoyage{
   font-variant: small-caps;
}

#titre{
    font-variant: small-caps;
}

.voyages{
    background-color:white !important;
    width:70%;
}



button{
    float:right;
    font-variant: small-caps;
}


.dark-text{
    color: black !important;
}

a{
    color:black !important;
}
