span {
    color: red;
    font-size: 0.9em;
}

#contenu {
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #AED6F1 !important;
   /* overflow: hidden;*/
}
#connexion{
    max-width: 45%;
    width: 35%;
}
#inscription{
    max-width: 45%;
    width: 45%;
}
.jumbotron{
    padding: 1rem 2rem !important;
}
