span{
    color:red;
}
.test{
    display: flex;
    flex-direction: column;
}
.test input{
    margin-bottom: 20px;
}

.jumbotron{
    max-width: 75% !important;
    margin-top: 25px;
}

body{
    background-color: #AED6F1 !important;
}
