body {
    background-color: #AED6F1 !important;
}
ul.chat li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

ul.chat li:nth-last-child(1) {
    margin-bottom: 20px;
}

ul.chat li.sent p {
    background: #435f7a;
    color: #f5f5f5;
}

ul.chat li.replies p {
    background: #f5f5f5;
    float: right;
}

ul.chat li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
    display: flex;
    flex-direction: column;
}

time{
    font-size: 0.8em; 
}

#affichageMessages{
    overflow: scroll !important;
    overflow-x: hidden !important;
    max-height: 84vh !important;
}